# Dependencies
/node_modules
/.next
/.vercel

# Env
.env*.local
.env

# Misc
.DS_Store
*.log
prisma/migrations/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
